body{
    margin: 0;
    height: 100vh;
     width: auto;
}
 
h1, p{
    text-align: center;
    top: 150px;
    position: relative;
    
}

h2{
    position: relative;
    left: 50px;
    top: 10px;
    font-weight: 520;
}

.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    gap: 60px;
}

.green_box{
    height: 30%;
    margin: auto;
    width: auto;
    border: 6px solid greenyellow;
    background-color: whitesmoke;
}
.red_box{
    border: 6px solid red;
    width: 1100px;
    height: 90%;
    margin-top:5%;
    margin-bottom: 3%;
}


.blue_box{
    border: 6px solid rgb(17, 87, 236);
    width: 1100px;
    height: 90%;
    margin-top: 5%;
    margin-bottom: 0%;
}

.purple_box{
    border: 6px solid rgb(214, 117, 214);
    height: 10%;
    margin: 2px 8px 8px 8px;

    
}

.yellow_box{
    border: 6px solid yellow;
    padding-top: 10px;
    height: 88%;
    margin: 8px;

}

.mb-3{
    position: relative;
    width: 550px;
    display: block;
    margin: auto;
    top: 50px;
}

.d-grid, .gap-2, .d-md-block{
    position: relative;
    top: 50px;
}

.btn, .btn-primary{
    width: 550px;
}

